body{
    margin:0;
    padding:0;
    min-height:100vh;
    font-family:-apple-system,BlinkMacSystemFont,"Helvetica Neue",sans-serif;
    overflow-x:hidden;

    background:
    radial-gradient(circle at top left,#60a5fa 0%,transparent 35%),
    radial-gradient(circle at bottom right,#7c3aed 0%,transparent 35%),
    linear-gradient(135deg,#eff6ff 0%,#f8fafc 40%,#eef2ff 100%);

    background-attachment:fixed;
}

h1{
    margin-top:10px;
    margin-bottom:10px;
    font-size:34px;
    font-weight:700;
    color:#111827;
    position:relative;
    z-index:2;
}

h2{
    margin-top:35px;
    color:#111827;
}

h3{
    margin-top:25px;
    color:#111827;
}

.subTitle{
    color:#6b7280;
    margin-bottom:20px;
    font-size:15px;
}
