<div id="loginArea">

    <p class="loginGuide">
        社員用アカウントでログインしてください
    </p>

    <input type="email" id="email" placeholder="メールアドレス">

    <div class="passwordBox">
        <input type="password" id="password" placeholder="パスワード">
        <button type="button" id="passwordToggleBtn">表示</button>
    </div>

    <label class="keepLoginLabel">
        <input type="checkbox" id="keepLoginCheck">
        ログイン状態を保持する
    </label>

    <button id="loginBtn">
        <span>ログイン</span>
    </button>

</div>
